#Detail{
    background-color: black;
    color: white;
    height: 100vh;

    h1, h2, h3{
        padding: 10px 20px 20px 20px;
    }

    h1{
        font-size: 2rem;
        font-weight: 500;
    }

    h2,h3{
        font-size: 1.1rem;
    }

    img{
        width: 100%;
    }
}